<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="Supermarket Price Comparitor" content="This webapp takes your shopping list and compares data from various local supermarkets to determine where the cheapest place is to shop">
    	<meta name="keywords" content="one, two, three">

		<title>Supermarket Price Comparison</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<!-- <link rel="stylesheet" href="css/style.css"> -->
	</head>
	<body>

        <h1>Supermarket Price Comparison</h1>

        <h3>Add your shopping list here</h3>
		

        <div id="shop-wrap">
            <!-- (A) ADD NEW ITEM -->
            <form id="shop-form">
              <input type="text" list="items" id="shop-item" placeholder="Item Name" class="form-control" required disabled/>
              <!-- this bit does the drop down list part  -->
              <datalist id="items">
                {% for item in items %}
                    <option name= "grocery_item" value="{{ item.itemname }}"></option>
                {% endfor %}

              </datalist>
              <input type="submit" id="shop-add" value="Add" disabled/>
            </form>
            <!-- (B) SHOPPING LIST -->
            <div id="shop-list"></div>
        </div>
        <div type="hidden">
          <datalist id="hidden-items" type="hidden">
            {% for item in items %}
                    <option name= "grocery_item_price_checkers" value="{{ item.checkers_price }}"></option>
                    <option name= "grocery_item_price_pnp" value="{{ item.pnp_price }}"></option>
                    <option name= "grocery_item_price_woolworths" value="{{ item.woolworths_price }}"></option>
            {% endfor %}
          </datalist>
        </div>
        <br>
        <!-- <div id="calc-button">
          <input type="submit" id="calculate" value="Caluclate Cheapest" disabled/>
        </div> -->
        <table>
          <tr>
            <th>Checkers Total Price</th>
            <th>Pnp Total Price</th>
            <th>Woolworths Total Price</th>
          </tr>
          <tr>
            <td id="checkers-display-price">0</td>
            <td id="pnp-display-price">0</td>
            <td id="woolworths-display-price">0</td>
          </tr>
          
        </table>
        <div id="explain">
          <h4>How it works:</h4>
          <p>You put your shopping list in at the top, this will tell you where the cheapest place is to shop.</p>
          <p>Webscrapers use Selenium and BeautifulSoup4 to update PostgreSQL database hosted on bit.io. Django site was hosted on AWS EC2 instance. UI with Node.js.</p>
          <p>This a Proof-of-Concept MVP. More items and functionality are being added all the time.</p>
          <p>You can take a look at how the site works <a href="https://github.com/Stevie011/shop-compare-deployed">here</a> or at how the web scrapers work <a href="https://github.com/Stevie011/shop-compare-web-scrapers">here.</a></p>
          <p>Check out my entire github <a href="https://github.com/Stevie011">here.</a></p>
        </div> 
        
          

		<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
	</body>
</html>
